In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
from collections import Counter

# set this so the graphs open internally
%matplotlib inline

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

In [3]:
chipotle = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

In [4]:
print(chipotle.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [5]:
chipotle['item_price'] = chipotle['item_price'].str.replace('$', '').str.strip()

chipotle['item_price'] = chipotle['item_price'].astype(float)

count = chipotle[chipotle['item_price'] > 10.00]['item_price'].count()

print("Số lượng sản phẩm có giá trên $10.00:", count)

Số lượng sản phẩm có giá trên $10.00: 1130

<ipython-input-5-f801c54585c0>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipotle['item_price'] = chipotle['item_price'].str.replace('$', '').str.strip()

In [6]:
products_gt_10 = chipotle.loc[chipotle['item_price'] > 10.00, 'item_name']

print(products_gt_10)

4             Chicken Bowl
5             Chicken Bowl
7            Steak Burrito
13            Chicken Bowl
23         Chicken Burrito
               ...
4610         Steak Burrito
4611        Veggie Burrito
4617         Steak Burrito
4618         Steak Burrito
4619    Chicken Salad Bowl
Name: item_name, Length: 1130, dtype: object

In [7]:
sorted_products = products_gt_10.sort_values()

print(sorted_products)

3389    6 Pack Soft Drink
1643        Barbacoa Bowl
919         Barbacoa Bowl
3547        Barbacoa Bowl
4510        Barbacoa Bowl
              ...
186     Veggie Salad Bowl
295     Veggie Salad Bowl
3889    Veggie Soft Tacos
738     Veggie Soft Tacos
1699    Veggie Soft Tacos
Name: item_name, Length: 1130, dtype: object

In [9]:
chipotle_sorted = chipotle.sort_values('item_price', ascending=False)
most_expensive_quantity = chipo_sorted.iloc[0]['quantity']

print("Số lượng sản phẩm đắt nhất đã được mua:", most_expensive_quantity)

Số lượng sản phẩm đắt nhất đã được mua: 15

In [10]:
veggie_salad_orders = chipotle[chipotle['item_name'] == 'Veggie Salad Bowl']
veggie_salad_quantity = veggie_salad_orders['quantity'].sum()

print("Số lần món Veggie Salad Bowl đã được mua:", veggie_salad_quantity)

Số lần món Veggie Salad Bowl đã được mua: 18

In [11]:
multiple_soda_orders = chipotle[(chipotle['item_name'] == 'Canned Soda') & (chipotle['quantity'] > 1)]
multiple_soda_count = len(multiple_soda_orders)

print("Số lần có người đặt mua hơn một lon nước ngọt đóng hộp:", multiple_soda_count)

Số lần có người đặt mua hơn một lon nước ngọt đóng hộp: 20